# Dependencias
node_modules/

# Salida de pkg
*.exe

# Logs y temporales
*.log
*.tmp

# Archivos de configuración local
.env

# Salida de build o exportación
dist/
build/

# VSCode
.vscode/

# Otros
*.tsbuildinfo
